
footer {
  width: 100%;

  .container {
    .row {
      margin-top: 20px;
      margin-bottom: 10px;

      @media screen and (max-width: $screen-sm) {
        text-align: center;
      }
    }
  }

  a {
    font-size: 12px;
    color: #6C6C6C;
    letter-spacing: 0.75px;
    display: block;

    &:hover {
      color: $brand-primary;
    }
  }

  .logo {
    display: block;
    margin: auto;
    background: url("../img/logo.svg") no-repeat center center;
    width: 43px;
    height: 48px;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  p.copy {
    border-top: 0.5px solid #D3D3D3;
    padding-top: 10px;
    font-size: 14px;
    font-style: italic;
  }
}
